.main-background {
    background-image:url(img/iu.jpg);
    color: white;
}

.black-background{
    background: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}
/* bootstrap z-index 는 1 ~ 4 까지 사용*/

.white-background {
    background: white;
    margin: 100px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.white-background > .modal-close {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.nav-sub-btn {
    cursor: pointer;
}

#nav-sub {
    display: none;
}

.alert-email  {
    display: none;
    color : red;
}

.alert-password  {
    display: none;
    color : red;
}

.carousel {
    overflow: hidden;
}

.slide-container {
    width: 300vw;
    transition: all 1s;
    transform: translateX(-100vw);
    /*X축 이동 시킬때 쓰는 속성*/
}

.slide-box {
    width: 100vw;
    float:left;
}

.slide-box img {
    width: 100%;
}


